<%- include('template.ejs') %>

<form id="form1" action="/addNew" method="post">
    <label >Title:</label>
    <input name="title" type="text">
    <label >Description:</label>
    <input name="description" type="text">
    <label >Markdown:</label>
    <input name="markdown" type="text">
    <input type="submit">
</form>